<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Student Detail</title>
     </head>
    <body>
	<div>
		<nav>
				<a href="/">Home</a>
				<a href="/Student/About">About</a>
				<a href="@Url.Action("Contact", "Student")">Contact</a>
				<a href="/Sdetail">Detail</a>
		</nav>		
	</div>
	@RenderBody()
    </body>
</html>