<!DOCTYPE html>
    <html>
    <head>
        <title>Product</title>
        <style>
		nav {
			background-color: gray;
			color: white;
			padding: 10px;
			text-align: center;
		}

			nav a {
				color: white;
				margin: 0 10px;
			}
        </style>
    </head>
    <body>
	<nav>
		<a href="/Product/Index">Home</a>
		<a href="/Product/Create">Create</a>
        
	</nav>
	@RenderBody()
    </body>
    </html>