<html>
	<head>
		<title>Employee Detail</title>
	</head>
	<body>
		<nav>
		<a href="/Demo/Index">Home</a>
		<a href="/Demo/About">About</a>
		<a href="/Detail/">Table</a>
		</nav>
	@RenderBody()
	</body>
</html>